/* RESETS */

*,
::after,
::before {
  box-sizing: border-box;
}

/* GENERAL STYLING */

body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: #8e8e8e;
  font-size: 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  border: 1px solid #8e8e8e;
  overflow: hidden;
}

/* BUTTONS */

.btn {
  display: block;
  border: 0;
  padding: 0.8em 1em;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  outline: none;
}

.helper-btn:active {
  background-color: #a9a9a9;
}

.btn:active {
  background-color: #b2b2b2;
}

.arithmetic-btn:active {
  background-color: #c47425;
}

/* DISPLAY */

.display-container {
  background-color: #999999;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-column: 1/5;
  grid-row: 1/2;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #ffffff;
}

.number {
  font-size: 3.1rem;
  font-weight: 100;
  margin-right: 0.2em;
  color: #fff;
}

/* DIGIT LAYOUT */

.helper-btns-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-column: 1/4;
  grid-row: 2/3;
}

.digit-btns-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-column: 1/4;
  grid-row: 3/7;
}

.arithmetic-btns-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 4/5;
  grid-row: 2/7;
}

.arithmetic-btn {
  background-color: #f79331;
  color: white;
}

.digit-btn {
  background-color: #e0e0e0;
  color: #000000;
}

.helper-btn {
  background-color: #d6d6d6;
}

.span-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  grid-column: 1/3;
}

.grid-sections {
  grid-gap: 1px;
}
